version: '3.0'

services:
  web:
    image: sstrigler/smrtrpck:latest
    restart: always
    volumes:
      - "/etc/letsencrypt:/etc/letsencrypt"
      - "./smrtrpck.conf:/etc/nginx/conf.d/smrtrpck.conf"
      - "wellknown:/usr/share/nginx/html/.well-known/"
    ports: 
      - 188.40.80.233:80:80
      - 188.40.80.233:443:443

  certbot:
    image: certbot/certbot
    depends_on:
      - web
    volumes:
      - "/etc/letsencrypt:/etc/letsencrypt"
      - "wellknown:/usr/share/nginx/html/.well-known/"

volumes:
  wellknown:
